* {
    font-family: "Comfortaa", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100vw;
    height: 10vh;
    background-color: #B9BA6C;
    z-index: 10;
    border-bottom: 3px solid black;
}

#logo {
    height: 8vh;
    padding: 1vh;
}

#nav1 {
    grid-column: 3/7;
    align-self: center;
    justify-self: center;
}

#nav1>a {
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: bold;
    color: black;
    padding: 0 10px 0 10px;
}

#menu {
    height: fit-content;
    background-color: transparent;
    border: transparent;
    align-self: center;
    justify-self: center;
}

#hero-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 5vh;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    justify-self: center;
}

#hero-section>picture {
    align-self: center;
    justify-self: center;
}

#hero-section>picture>img {
    height: 35vw;
}

#hero-section>div {
    align-self: center;
    justify-self: center;
}

@media all and (min-width: 800px){
    #menu {
        display: none;
    }
}

@media all and (max-width: 800px){
    #menu {
        display: block;
        grid-column: 7/8;
    }

    #nav1 {
        display: none;
    }

    #hero-section {
        grid-template-columns: 1fr;
    }
}
